<!DOCTYPE html>  
<html lang=" "en>
    <head>
        <meta charset = "UTF-8">
        <title
        >Learning Management System</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script> 
    </head>
    <style>
        body {
            background-color: #686666;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      
    </style>
    <body> 
        <div class = "grid grid-cols-6 px-8 py-8 flex font-semibold flex mx-auto">
            <div class = "col-start-3 col-span-2 py-4"> 
                <div class = "font-bold text-4xl text-blue-400"> <%- include('header.ejs')%></div> 
                <p class="py-4 text-3xl">New Here? <a href = "/signup" class="text-green-600 text-2xl px-4 hover:text-blue-500 bg-gray-900">Sign-up Now</a></p>
                <p class="py-4 text-3xl">Already have an account? <a href = "/login" class="text-green-600 text-2xl px-1 hover:text-blue-500 bg-gray-900">Login Now</a></p>
               <div class = "text-2xl pxy-6"> <%- include ('footer.ejs') %></div>
            </div>
        </div> 
    </body>
</html>
 