<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Change Password</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>

<body class="bg-gray-200">
    <div class="grid grid-cols-4 gap-4 p-4">
        <div class="col-start-2 col-span-2 bg-white rounded-lg shadow-lg">
            <div class="p-4 bg-indigo-600 text-white rounded-t-lg">
                <%- include('header.ejs') %>
                    <h1 class="text-2xl font-semibold">Welcome<br>
                    </h1>
                    <a href="/signout"
                        class="block mt-2 text-green-300 text-sm font-semibold hover:text-green-200">Signout</a>
            </div>
            <% if (locals.currentUser.role==="student" ) { %>
                <a href="/student"
                    class="block text-blue-600 text-sm font-semibold border-b-2 py-2 px-4 hover:bg-indigo-100">Back to
                    Dashboard</a>
                <% } else { %>
                    <a href="/teacher"
                        class="block text-blue-600 text-sm font-semibold border-b-2 py-2 px-4 hover:bg-indigo-100">Back
                        to Dashboard</a>
                    <% } %>
                        <div class="p-4">
                            <h6 class="bg-indigo-100 py-2 font-semibold text-lg mb-4">Change Password</h6>
                            <form action="/Password" method="post" autocomplete="on">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="mb-4">
                                    <label for="email" class="text-gray-700">Existing Email: </label>
                                    <input type="email" name="email" id="email"
                                        class="border border-gray-300 text-gray-900 rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-300">
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="text-gray-700">New Password: </label>
                                    <input type="password" name="password" id="password"
                                        class="border border-gray-300 text-gray-900 rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-300">
                                </div>
                                <div class="mt-6">
                                    <button type="submit"
                                        class="text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded px-4 py-2 transition-all">Set
                                        Password</button>
                                </div>
                            </form>
                            <% if (messages && messages.error && messages.error.length> 0) { %>
                                <% for (var i=0; i < messages.error.length; i++) { %>
                                    <p class="bg-red-200 my-4 px-4 py-2 rounded">
                                        <%= messages.error[i] %>
                                    </p>
                                    <% } %>
                                        <% } %>
                        </div>
        </div>
    </div>
</body>

</html>